.header {
    display: flex;
    justify-content: space-between;

    height: 70px;
    margin: 50px 0;
}

.header__links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__link {
    margin: auto 20px;
}

/* Sélectionne les <a> qui possèdent également la classe active et qui sont dans .header.
   NavLink ajoute automatiquement la classe CSS "active" au lien actif */
.header a.active {
    text-decoration: underline;
}