.header {
    display: flex;
    justify-content: space-between;

    height: 70px;
    margin: 50px 0;

    padding: 0 25px;
}

.header__links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__link {
    margin: auto 0 auto 20px;
}

/* Sélectionne les <a> qui possèdent également la classe active et qui sont dans .header.
   NavLink ajoute automatiquement la classe CSS "active" au lien actif */
.header a.active {
    text-decoration: underline;
}


@media (max-width: 426px) {
    .header {
        height: 48px;
        margin: 25px 0;
    }
    .header img {
        height: 48px;
        width: 145px;
    }
    .header a {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
}