.accommodation__carousel-container {
    width: 100%;
    height: 415px;
}

.accommodation__main-infos-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px auto;
}

.accommodation__main-infos-container h1 {
    color: var(--main-color);
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 12px;
}
.accommodation__tags-container {
    display: flex;
    margin: 20px auto 0px;
}
.accommodation__tags-container p {
    text-align: center;
    color: white;
    background-color: var(--main-color);
    border-radius: 5px;
    margin: auto 10px auto 0;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 12px;
}

.accommodation__host-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.accommodation__host-container {
    display: flex;
    align-items: center;
}
.accommodation__host-name {
    color: var(--main-color);
    padding: 12px;
    width: 93px;
    text-align: right;
}
.accommodation__host-avatar {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.accommodation__rating {
    display: flex;
    align-items: center;
}
.accommodation__rating img{
    height: 36px;
    width: 36px;
}

.accommodation__accordions-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.accommodation__accordion-container {
    width: 47%;
    margin: 20px 0;
}


@media (max-width: 426px) {
    .accommodation__carousel-container {
        height: 255px;
    }

    .accommodation__main-infos-container {
        flex-direction: column;
        margin: 10px auto;
    }
    .accommodation__main-infos-container h1 {
        font-size: 18px;
    }
    .accommodation__main-infos-container p {
        font-size: 14px;
    }
    .accommodation__tags-container p {
        font-size: 10px;
    }

    .accommodation__host-rating-container {
        flex-direction: row-reverse;
    }
    
    .accommodation__rating img{
        height: 18px;
        width: 18px;
    }
    
    .accommodation__host-avatar {
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }

    .accommodation__accordions-container {
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .accommodation__accordion-container {
        width: 100%;
        margin: 10px auto;
    }


}