.accordion {
    width: 100%;
    margin: 0 auto;
}
.accordion__title {
    color: white;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    border-radius: 5px;
}
.accordion__arrow {
    width: 32px;
    height: 32px;
}
.accordion__content {
    padding: 20px;
}


@media (max-width: 500px) {
    .accordion__title {
        padding: 5px;
    }
    .accordion__title h2 {
        font-size: 13px;
    }
    .accordion__arrow {
        width: 24px;
        height: 24px;
    }
    
    .accordion__content {
        padding: 10px;
    }
    .accordion__content p {
        font-size: 12px;
    }
}