.accordion {
    width: 100%;
}
.accordion__title {
    color: white;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    border-radius: 5px;
}
.accordion__content {

}