.accordion {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.accordion__title {
    color: white;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    border-radius: 5px;
}
.accordion__arrow {
    width: 32px;
    height: 32px;
}
.accordion__content {
    padding: 20px;
}